    <main>
        {{#if hasProduct }}
            <div class="grid">
                {{#each prods}}
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"> {{this.title}} </h1>
                            <div class="card__image">
                                <img src="https://www.freepik.com/vectors/book" alt="A Book">
                            </div>
                            <div class="card__content">
                                <h2 class="product__price">$90.25</h2>
                                <p class="product__description">
                                    A very interesting book about so many even more interesing things and this one is the best.
                                </p>
                            </div>
                            <div class="card__actions">
                                <button class="btn">Add to Card</button>
                            </div>
                        </header>
                    </article>
                {{/each}}
            </div>
        {{else}}
            <h1>No Products Found</h1>
        {{/if}}
    </main>
